<div layout="row">

  <!-- PIPELINE LIST -->
  <div flex=20>
    <md-toolbar theme="indigo">
      <h2 class="md-toolbar-tools">
        <span>Pipelines</span>
        <span flex></span>
        <md-button ng-click="newPipe()" aria-label="new pipeline">New</md-button>
      </h2>
    </md-toolbar>
    <md-content>
      <md-list "overflow:scroll">
        <md-item ng-repeat="pipeline in pipelines | orderBy:'name'">
          <md-item-content class="thin pipe_open_{{isPipeOpen(pipeline)}}" ng-click="openPipe(pipeline)">
            <div class="md-tile-content">
              <h3>{{pipeline.name}}</h3>
              <h4>version {{pipeline.version}}</h4>
              <p>{{pipeline.description | limitTo : 40}}</p>
            </div>
          </md-item-content>
          <md-divider ng-if="!$last"></md-divider>
        </md-item>
      </md-list>
    </md-content>
  </div>

  <!-- ACTIVE PIPELINE -->
  <div flex style="border-left: 1px solid grey;">
    <ng-switch on="hasActivePipeOpen()">
      <div class="animate-switch" ng-switch-when="false">
        <div ng-include="splash_page"></div>
      </div>
      <div class="animate-switch" ng-switch-when="true">
        <md-toolbar md-theme="indigo">
          <h2 class="md-toolbar-tools">
            <span>Pipeline '{{activePipe.name}}'</span>
            <span flex></span>
            <md-button ng-click="deletePipe()"aria-label="delete pipeline">delete</md-button>
            <md-button ng-click="savePipe()" aria-label="save pipeline">save</md-button>
            <md-button ng-click="closePipe()"aria-label="close pipeline">close</md-button>
          </h2>
        </md-toolbar>
        <div layout="row" layout-padding>
          <md-text-float class="wide" label="Pipeline Name" ng-model="activePipe.name"> </md-text-float>
          <md-text-float label="Version" ng-model="activePipe.version"> </md-text-float>
        </div>
        <div layout="row" layout-padding>
          <md-input-group tabindex="-1" ng-model="activePipe.description" label="Description" class="ng-isolate-scope md-default-theme md-input-has-value ng-valid" aria-invalid="false">
            <label for="p_desc" class="ng-binding">Description</label>
            <textarea rows="2" cols="60" id="p_desc" aria-disabled="false"
              ng-model="activePipe.description"></textarea>
          </md-input-group>
        </div>

        <!-- SCRIPT -->
        <div>
          <md-toolbar class="thin" md-theme="indigo">
            <h2 class="md-toolbar-tools">
              <span>Script</span>
              <span flex></span>
            </h2>
          </md-toolbar>
          <md-content>
            <ui-codemirror ui-codemirror-opts="editorOptions"
              ng-model="activePipe.scriptString">
            </ui-codemirror>
          </md-content>
        </div>

        <!-- TESTS -->
        <div>
          <md-toolbar class="thin" md-theme="indigo">
            <h2 class="md-toolbar-tools">
              <span>Tests</span>
              <span style="background-color:{{testsStatus()}};"> ({{activePipe.testsOk}} / {{activePipe.tests.length}} OK, {{activePipe.testsFailed}} failed) </span>
              <span flex></span>
              <md-button ng-click="newTest()" aria-label="new test">new</md-button>
              <md-button ng-click="runAllTests()" aria-label="run tests">run</md-button>
            </h2>
          </md-toolbar>
          <div ng-repeat="test in activePipe.tests">
            <div layout="row" class="test_row">
              <span render-annotations></span>
              <span flex></span>
              <span ng-click="test.visible=!test.visible"> [edit]</span>
              <span ng-click="activePipe.tests.splice($index, 1)"> [del]</span>
            </div>
            <div class="test-edit" ng-show="test.visible">
              <div>Text:</div>
              <textarea           ng-model="test.input"    rows="2"></textarea>
              <div>Expected:</div>
              <textarea json-text ng-model="test.expected" rows="8"></textarea>
              <div>Actual:</div>
              <textarea json-text ng-model="test.actual"   rows="8"></textarea>
              <md-button ng-click="runAllTests()" aria-label="run tests">run tests</md-button>
            </div>
            <md-divider/>
          </div>
        </div>
      </div>
      <md-divider/>
    </ng-switch>
  </div>

  <!--RIGHT PANEL -->
  <div flex=10 style="padding-left:15px; border-left: 1px solid grey;">
    RIGHT
  </div>
</div>
