<div layout="row">

  <!-- PIPELINE LIST -->
  <div flex=20>
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        <md-select class="title-select" ng-model="someVal" placeholder="Pipelines">
          <md-option value="0" ><a class="no-format" href="#/">Pipelines</a></md-option>
          <md-option value="1" ><a class="no-format" href="#/resources">Resources</a></md-option>
          <md-option value="2" ><a class="no-format" href="#/bundles">Bundles</a></md-option>
        </md-select>
        <span flex></span>
        <md-button ng-click="newPipe()" aria-label="new pipeline">New</md-button>
      </h2>
    </md-toolbar>
    <md-content>
      <md-list "overflow:scroll">
        <md-item ng-repeat="pipeline in pipelines | orderBy:'name'">
          <md-item-content class="thin pipe_open_{{(activePipe === pipeline)}}" ng-click="openPipe(pipeline)">
            <div class="md-tile-content">
              <h3>{{pipeline.name}}</h3>
              <h4>version {{pipeline.version}}</h4>
              <p>{{pipeline.description | limitTo : 40}}</p>
            </div>
          </md-item-content>
          <md-divider ng-if="!$last"></md-divider>
        </md-item>
      </md-list>
    </md-content>
  </div>

  <!-- ACTIVE PIPELINE -->
  <div flex style="border-left: 1px solid grey;">
    <!-- TITLE -->
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        <span>Pipeline '{{activePipe.name}}'</span>
        <span flex></span>
        <md-button ng-click="jsonVisible=!jsonVisible">{{jsonVisible ? "hide json" : "show json"}}</md-button>
        <md-button ng-click="deletePipe()"aria-label="delete pipeline">delete</md-button>
        <md-button ng-click="savePipe()" aria-label="save pipeline">save</md-button>
      </h2>
    </md-toolbar>

    <div ng-show="jsonVisible"><!--raw json -->
      <textarea class="max-wide" json-text ng-model="activePipe" rows="50"></textarea>
    </div>
    <div ng-hide="jsonVisible">
      <!-- TABS -->
      <md-tabs class="md-primary" md-selected="tabsSelectedIndex">
        <md-tab id="tab1-info" aria-controls="tab1-info">Info + Annotate</md-tab>
        <md-tab id="tab2-embed" aria-controls="tab2-embed">Embed / API</md-tab>
        <md-tab id="tab3-edit" aria-controls="tab3-edit">Edit script</md-tab>
        <md-tab id="tab4-test" aria-controls="tab4-test" md-on-select ="runAllTests()">Test</md-tab>
      </md-tabs>
      <ng-switch on="tabsSelectedIndex" class="tabpanel-container">

        <!-- TAB #1: INFO & ANNOTATE -->
        <div role="tabpanel" id="tab1-content" ng-switch-when="0">
          <div layout="row" layout-padding>
            <md-input-container>
              <label>Pipeline Name</label>
              <input class="wide" ng-model="activePipe.name" required type="text">
            </md-input-container>
            <md-input-container>
              <label>Version Name</label>
              <input ng-model="activePipe.version" required type="text">
            </md-input-container>
          </div>
          <div layout="row" layout-padding>
            <md-input-container tabindex="-1" ng-model="activePipe.description" label="Description" class="ng-isolate-scope md-default-theme md-input-has-value ng-valid" aria-invalid="false">
              <label for="p_desc" class="ng-binding">Description</label>
              <textarea rows="2" cols="60" id="p_desc" aria-disabled="false"
                ng-model="activePipe.description"></textarea>
            </md-input-container>
          </div>
          <!-- ANNOTATE -->
          <md-toolbar class="thin">
            <h2 class="md-toolbar-tools">
              <span flex></span>
              <md-button ng-disabled="annotate.annotating" ng-click="annotateText()" aria-label="annotate">annotat{{annotate.annotating ? "ing" : "e"}}</md-button>
            </h2>
          </md-toolbar>
          <textarea class="max-wide" ng-model="annotate.text" rows="4"></textarea>
          <div layout="row" style="margin-top:15px;">
            <div data-ng-bind-html="annotate.html" layout-fill></div>
            <div style="margin-top:15px;">
              <div ng-repeat="type in annotate.types">
                <md-checkbox ng-model="type.activated" ng-click="toggleType(type)" aria-label="type_{{type}}">
                  <span class="inline-a np_{{type.name}}" >{{type.name}}</span>
                </md-checkbox>
              </div>
            </div>
          </div>
        </div>

        <!-- TAB #2: EMBED -->
        <div role="tabpanel" id="tab2-content" ng-switch-when="1" class="embed">

          <h4>Add test text:</h4>
          <textarea class="max-wide" ng-model="annotate.text" rows="4"></textarea>

          <h4>Test directly in browser</h4>
          <a href="http://localhost:9600/annotate/{{activePipe.name}}?text={{annotate.text}}" target="_blank">localhost:9600/annotate/{{activePipe.name}}?text=...</a>

          <h4>CURL</h4>
          <pre>curl -XPOST 'localhost:9600/annotate/{{activePipe.name}}' \
--header "Content-Type: application/json" \
--data '
{
  "text": "{{annotate.text}}"
}'</pre>
<hr/>

          <h4>Javascript</h4>
          <p>Download <a href="https://rawgit.com/sherlok/sherlok/master/public/_editor/scripts/sherlok.js">library</a></p>
          <p>Usage:<pre>var text = '{{annotate.text}}';
sherlok.annotate('{{activePipe.name}}', null, text, function(data){
  console.log(data);
  // optional, to display text highlighted
  Sherlok.annotateElement(text, data["_views"]["_InitialView"], function(html){
    console.log(html);
    document.getElementById('content').innerHTML = html;
  });
});</pre></p>
          <p>Complete html:<xmp><!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <link rel='stylesheet' type='text/css' href='https://rawgit.com/sherlok/sherlok/master/public/_editor/css/annotations.css'>
    <script type='text/javascript' src='https://rawgit.com/sherlok/sherlok/master/public/_editor/scripts/sherlok.js'></script>
</head>
<body>
    <script type="text/javascript">
        var text = 'GABAergic neuron, glutamatergic neuron bla bla GABAergic horizontal cells woo di dopaminergic neurons.';
        Sherlok.annotate('03.ruta.ontologies', null, text, function(data){
          console.log(data);
          // optional, to display text highlighted
          Sherlok.annotateElement(text, data["_views"]["_InitialView"], function(html){
            console.log(html);
            document.getElementById('content').innerHTML = html;
          });
        });
</script>
</body>
<div id="content"></div>
</html>
</xmp></p>

          <h4>Python</h4>
          <p>Installation: <pre>pip install --upgrade sherlok</pre></p>
          <p>Usage:<pre>from sherlok import Sherlok
text = '{{annotate.text}}'
print list(Sherlok().annotate('{{activePipe.name}}', text))</pre></p>
        </div>

        <!-- TAB #3: EDIT -->
        <div role="tabpanel" id="tab3-content" ng-switch-when="2">
          <md-content>
            <ui-codemirror ui-codemirror-opts="editorOptions"
              ng-model="activePipe.scriptString">
            </ui-codemirror>
          </md-content>
        </div>

        <!-- TAB #4: TEST -->
        <div role="tabpanel" id="tab4-content" ng-switch-when="3">
          <md-toolbar class="thin">
            <h2 class="md-toolbar-tools" style="background-color:{{testsStatus()}};">
              <span>{{activePipe.testsOk}} / {{activePipe.tests.length}} OK, {{activePipe.testsFailed}} failed</span>
              <span flex></span>
              <md-button ng-disabled="testing" ng-click="runAllTests()" aria-label="run tests">{{testing ? "running" : "run"}}</md-button>
              <md-button ng-click="newTest()" aria-label="new test">new</md-button>
            </h2>
          </md-toolbar>
          <md-progress-linear ng-show="testing" md-mode="indeterminate"></md-progress-linear>
          <div ng-repeat="test in activePipe.tests">
            <div layout="row" class="test_row status_{{test.status}}">
              <span render-annotations></span>
              <span flex></span>
              <span ng-click="test.visible=!test.visible"> [edit]</span>
              <span ng-click="activePipe.tests.splice($index, 1)"> [del]</span>
            </div>
            <div class="test-edit" ng-show="test.visible">
              <h4>Text:</h4>
              <textarea               ng-model="test.input"    rows="2"></textarea>
              <div layout="row">
                <div flex="50">
                  <h4>Expected:</h4>
                  <textarea json-text ng-model="test.expected" rows="18"></textarea>
                </div>
                <div flex="50">
                  <h4>Actual:</h4>
                  <textarea json-text ng-model="test.actual"   rows="18"></textarea>
                </div>
              </div>
              <md-button ng-click="runAllTests()" aria-label="run tests">run tests</md-button>
            </div>
            <md-divider/>
          </div>
        </div>
      </ng-switch>
    </div>
  </div>

  <!--RIGHT PANEL
  <div flex=10 style="padding-left:15px; border-left: 1px solid grey;">
    RIGHT
  </div>-->
</div>
