<div layout="row" md-theme="yellow">

  <!-- RESOURCES LIST -->
  <div flex=20 layout-fill>
    <md-toolbar >
      <h2 class="md-toolbar-tools">
        <md-select class="title-select" ng-model="someVal" placeholder="Resources">
          <md-option value="0" ><a class="no-format" href="#/">Pipelines</a></md-option>
          <md-option value="1" ><a class="no-format" href="#/resources">Resources</a></md-option>
          <md-option value="2" ><a class="no-format" href="#/bundles">Bundles</a></md-option>
        </md-select>
        <span flex></span>
        <md-button ng-click="showUploadDialog()" aria-label="new resource">New</md-button>
      </h2>
    </md-toolbar>
    <div treecontrol class="tree-classic" tree-model="resourcesTree" on-selection="showResource(node)">
      {{node.name}}
    </div>
    <br/><br/><br/>
    <md-toolbar >
      <h2 class="md-toolbar-tools">
        <span flex>Remote Resources</span>
        <md-button ng-click="cleanRemoteResources()" aria-label="clean remote resource">Clean</md-button>
      </h2>
    </md-toolbar>
  </div>

  <!-- ACTIVE RESOURCE -->
  <div flex style="border-left: 1px solid grey;">
    <md-toolbar>
      <h2 class="md-toolbar-tools" ng-show="resource">
        <span>Resource '{{resource.name}}'</span>
        <span flex></span>
        <md-button ng-href="/resources{{resource.path}}" ng-hide="resource.isFolder" aria-label="download resource">download</md-button>
        <md-button ng-click="deleteResource()" ng-hide="resource.isFolder" aria-label="delete resource">delete</md-button>
        <md-button ng-click="updateResource()" ng-hide="resource.isFolder" aria-label="save resource">update</md-button>
      </h2>
    </md-toolbar>
    <md-content>
      <textarea class="max-wide 100p-height" ng-model="resource.content" rows="100"></textarea>
    </md-content>
  </div>
</div>
