<configuration scan="true">

  <!-- LOGBACK logging config file, see http://logback.qos.ch/manual/joran.html -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout -->
      <Pattern>%-5level %msg [%logger{16} %d{HH:mm:ss}]%n
      </Pattern>
      <!-- <Pattern>%d{HH:mm:ss}%-5level %logger{36} - %msg%n </Pattern> -->
    </encoder>
  </appender>

  <!-- set to DEBUG, INFO, etc. -->
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- custom log levels for other libs -->
  <logger name="org.apache.commons" level="WARN" />
  <logger name="ch.qos.logback" level="ERROR" />
  <logger name="org.apache" level="WARN" />
  <logger name="httpclient.wire" level="WARN" />
  <logger name="httpclient.wire.content" level="WARN" />
  <logger name="org.xml.sax" level="INFO" />
  <logger name="org.springframework" level="INFO" />
  <logger name="org.eclipse.jetty" level="INFO" />
  <logger name="org.eclipse.jetty.server" level="WARN" />
  <logger name="spark" level="INFO" />


</configuration>