
/* more compact */
md-input-group, .md-input-group {
    margin: 0px 0px 0px 0px;
    padding-bottom: 0px;
}

/* wide input field, e.g. for pipeline name */
md-input-group.wide > input {
    width: 280px;
}

/* thinner toolbar */
md-toolbar.thin {
    min-height: 35px;
}
md-toolbar.thin > h2.md-toolbar-tools {
    height: 35px;
    font-size: 0.8em;
}
/* thinner item list */
md-item-content.thin div.md-tile-content {
    padding: 5px;
    padding-left: 10px;
}

/* active pipe in list is dunkler */
md-item-content.pipe_open_true div.md-tile-content {
    background-color: #3f51b5;
    color: white;
}

/* test area */
md-input-group.test_area, .test_out {
    padding-left: 16px;
}
md-input-group.test_area{
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
div.test_out label {
    font-size: 12px;
}
div.test_out  {
    padding-bottom: 8px;
}
/* 100% width text textarea */
md-input-group > textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Welcome text */
#welcome{
    margin: 80px;
    max-width: 650px;
}




/* toast with different color */
/*md-toast.md-default-theme {
    background-color: #00FF99;
    color: black;
    }*/
