/* Ruta fields */
md-input-group#ruta_script{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
}
md-input-group#ruta_script > textarea, md-input-group.test_area > textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* wide input field, e.g. for pipeline name */
md-input-group.wide > input {
    width: 280px;
}

/* thinner toolbar */
md-toolbar.thin {
    min-height: 35px;
}
md-toolbar.thin > h2.md-toolbar-tools {
    height: 35px;
    font-size: 0.8em;
}


div.engine-border {
    background-color: #ffeb3b;
    padding: 7px;
    width: 700px;
}
div.script-border {
    border: 7px solid green;
    width: 700px;
}
/* Welcome text */
#welcome{
    margin: 80px;
    max-width: 650px;
}




/* toast with different color */
/*md-toast.md-default-theme {
    background-color: #00FF99;
    color: black;
}*/
