.success-true{
    text-decoration: line-through;
}



.buttondemoBasicUsage {
  /** From vulcanized demo **/ }

.buttondemoBasicUsage section {
background: #f7f7f7;
border-radius: 3px;
text-align: center;
margin: 1em;
position: relative !important;
padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
margin-right: 7px; }
.buttondemoBasicUsage section .md-button:not(.md-fab) {
width: 10em; }
.buttondemoBasicUsage section .md-button {
display: block;
margin: 1em;
line-height: 25px; }
.buttondemoBasicUsage .label {
position: absolute;
bottom: 5px;
left: 7px;
color: #ccc;
font-size: 14px; }

